.search-wrap {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;

  &.is-active {
    .search-input {
      .el-input__inner {
        border-bottom-left-radius: 0;
      }
      .el-input-group__append {
        border-bottom-right-radius: 0;
      }
    }
  }

  .search-input {
    max-width: 980px;
    margin: 0 auto 0;
  }
  .search-detail {
    width: 100%;
    max-width: 980px;
    margin: 0 auto 0;
    border: 1px solid #DCDFE6;
    border-radius: 0 0 4px 4px;
    border-top-color: #ffffff;
    color: #909399;
    padding: 15px;
    font-size: 13px;
    line-height: 25px;
    
    .el-col {
      margin-bottom: 10px;
    }
    .detail-title {
      width: 80px;
    }
    .detail-contents {
      width: auto;
      margin-right: 20px;
      .map-btn {
        font-size: 14px;
        padding: 3px 10px;
        margin-right: 10px;
      }
    }
    .detail-status .el-checkbox__label {
      font-size: 12px;
    }
    .detail-location {
      font-size: 12px;
    }
    .detail-date {
      border-radius: 0;
      border-color: #ffffff;
      border-bottom: 1px solid #DCDFE6;
      width: 250px;
    }
  }
}

.party-list-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto 0;

  .party-card {
    width: 50%;

    .el-card {
      margin: 10px;
      cursor: pointer;
      &:hover {

      }
    }

    .party-card-header {
      display: flex;
      align-items: center;
      height: 0px;

      .status {
        flex-shrink: 0;
        width: 60px;
        text-align: right;
      }
      .title {
        flex-grow: 1;
        font-weight: 600;
        font-size: 15px;
      }
    }
  }

  .list-item-wrap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 14px;
    margin-bottom: 10px;

    .list-item {
      display: flex;
      flex: 1 1 40%;
      margin-bottom: 10px;

      div:nth-child(1) {
        width: 40px;
      }
      div:nth-child(2) {
        min-width: 95px;
      }
    }
  }
}

.status-icon {
  cursor: default;
}

.tag-wrap {
  .tag-icon {
    cursor: default;
    margin-right: 10px;
  }
}


@media (max-width: 800px) {
  .party-list-wrap {
    .party-card {
      width: 100%;
    }
  }
}
